<div>
    <img class="{{ classes ?? '' }}"
         src="{{ src ?? '' }}"
         {% if width %}width="{{ width }}px"{% endif %}
         {% if height %}height="{{ height }}px"{% endif %}
     />
</div>